body{
    background-color: #9cc0e7;
}

div{
    padding: 20px;
    margin: 20px;
    border: 10px solid #fcfcfc;
}

h1{
    flex: 1 1 0%;
    text-align: center;
    padding: auto 60px;
    margin: auto auto;
}

img{
    flex:1 1 0%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.header{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: #C4A484;
    background-color: #faeacb;
    min-width: 350px;
    margin-right: 20%;
}

.description, .steps{
    color: #C4A484;
    background-color: #f7dbd7;
    margin-left: 20%;
    text-align: right;
    min-width: 350px;
}

.ingredients{
    color: #C4A484;
    background-color: #faeacb;
    margin-right: 20%;
    text-align: left;
    min-width: 350px;
}