div{
    padding: 20px;
}

h1{
    text-align: center;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header{
    color: lightseagreen;
    background-color: cyan;
    padding-top: 20px;
    padding-bottom: 20px;
}

.description, .steps{
    color: blueviolet;
    background-color: lightpink;
    margin-right: 100px;
    text-align: left;
}

.ingredients{
    color:lightseagreen;
    background-color: cyan;
    margin-left: 100px;
    text-align: right;
}