body{
    background-color: #9cc0e7;
}

div{
    padding: 20px;
    margin: 20px;
    border: 10px solid #fcfcfc;
}

h1{
    text-align: center;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.header{
    color: #9cc0e7;
    background-color: #faeacb;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 300px;
}

.description, .steps{
    color: #9cc0e7;
    background-color: #f7dbd7;
    margin-right: 300px;
    text-align: left;
}

.ingredients{
    color: #9cc0e7;
    background-color: #faeacb;
    margin-left: 300px;
    text-align: right;
}