*{
    text-align: center;
    background-color:  #eeeeee;
    font-family: Verdana, sans-serif;
}

h1{
    color: #9cc0e7;
    background-color: ;
}

ul{
    align-items: center;
}


li{
    text-align: left;
    list-style-type: none;
    border:
}

a{
    text-decoration: none;
    font-size: 28px;
    background-color: #faeacb;
    color: #9cc0e7;
}